<!DOCTYPE html>
<html>

    <head>
        <title>Translation Management System</title>
        <!-- Metatags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Externals -->
        <link href="../public/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Sources -->
            <!-- THEME -->
        <link href="../public/css/theme/style.css" rel="stylesheet">
    </head>

    <body ng-app="tmsApp">
        <div id="wrapper">
            <ng-sidebar></ng-sidebar>
            <div id="page-wrapper" class="gray-bg">
                <div class="row border-bottom">
                    <ng-header></ng-header>
                    <div ng-view></div>
                </div>
            </div>
        </div>
        <!-- Externals -->
        <script src="../public/components/angular/angular.js"></script>
        <script src="../public/components/angular-route/angular-route.js"></script>
        <script src="../public/components/jquery/dist/jquery.min.js"></script>
        <script src="../public/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Sources -->
            <!-- MODULES -->
        <script src="../public/js/application/modules/MainModule.js"></script>
            <!-- CTRL -->
        <script src="../public/js/application/controllers/IndexController.js"></script>
            <!-- DIRECTIVES -->
        <script src="../public/js/application/directives/HeaderDirective.js"></script>
        <script src="../public/js/application/directives/SidebarDirective.js"></script>
    </body>

</html>