
#page-wrapper {
    margin: 0;
}

.tab-content > .tab-pane {
    display: block;
}

.nav.nav-tabs {
    display: none;
}

hr.page-break {
    page-break-after: always;
}

#document-read .document-headlines {
    display: block;
}