<header id="header" ng-app="tmsApp" class="navbar-fixed-top">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12">
        <p class="col-lg-3 col-md-3 col-sm-2 col-xs-4 text-center">
            <a href="#/" class="logo">Alkub.io</a>
        </p>

        <p id="header-search" class="col-lg-6 col-md-6 col-sm-7 hidden-xs">
            <input type="search" name="main-search" placeholder="Search for a translation key, an app, a user… whatever"/>
            <button type="submit"><icon src="fa-search"></icon></button>
        </p>

        <p id="header-alerts" class="col-lg-3 col-md-3 col-sm-3 col-xs-8 text-right">
            <a href="#/accounts/user/{{currentUser.id}}">My account</a>
            &nbsp;
            <a href="#/alerts" class="notifications">
                <icon src="fa-bell-o"></icon>
                <span class="badge badge-danger">{{alerts.notifications.length}}</span>
            </a>
        </p>
    </div>
</header>