<aside id="sidebar">
    <nav role="navigation">
        {{isActive}}
        <ul>
            <ng-sidebar-element route="home" icon="fa-dashboard" text="Dashboard"></ng-sidebar-element>
            <ng-sidebar-element route="keys" icon="fa-globe" text="Manage translations"></ng-sidebar-element>
            <ng-sidebar-element route="apps" icon="fa-desktop" text="Manage apps"></ng-sidebar-element>
            <ng-sidebar-element route="accounts" icon="fa-users" text="Manage accounts"></ng-sidebar-element>
            <ng-sidebar-element route="settings" icon="fa-gears" text="Manage settings"></ng-sidebar-element>
        </ul>
    </nav>
</aside>