<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <ng-title main="Keys management" small="Manage all your translation keys"></ng-title>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <ng-app-selection></ng-app-selection>
    </div>
</div>

<div class="row">
    <ng-loading class="col-lg-4 col-lg-offset-2 col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-12" ng-show="loading">
    </ng-loading>
    <p ng-hide="loading">My app {{app}}</p>
</div>